CONFIG_ARM=y
CONFIG_ARCH_S32R45=y
CONFIG_TARGET_S32R45RENAN=y
CONFIG_SD_BOOT=y
CONFIG_CUSTOM_SYS_TEXT_BASE=y
CONFIG_SYS_TEXT_BASE=0xb78a0000
CONFIG_CUSTOM_SYS_DATA_BASE=y
CONFIG_SYS_DATA_BASE=0xb7800000
