# SPDX-License-Identifier: GPL-2.0+
# Copyright 2022-2024 NXP

if NXP_S32CC

config NXP_S32CC_BOARD_COMMON
	bool
	default n
	imply ARCH_EARLY_INIT_R
	imply CMD_ADC
	imply CMD_CACHE
	imply CMD_CLK
	imply CMD_CPU
	imply CMD_DM
	imply CMD_E1000
	imply CMD_FUSE
	imply CMD_GPIO
	imply CMD_I2C
	imply CMD_MD5SUM
	imply CMD_MMC
	imply CMD_MMC_REG
	imply CMD_MP
	imply CMD_PCI
	imply CMD_SMC
	imply CMD_SPI
	imply CMD_TIME
	imply CMD_TIMER
	imply DM_REGULATOR
	imply MD5SUM_VERIFY
	imply USE_BOOTARGS

if NXP_S32CC_BOARD_COMMON

if QSPI_BOOT
config ENV_SECT_SIZE
	default 0x10000
endif
endif

config S32CC_SCMI_GPIO_FIXUP
	bool "Device tree fixup for SCMI GPIO protocol"
	default n

config S32CC_SCMI_NVMEM_FIXUP
	bool "Device tree fixup for SCMI NVMEM protocol"
	default n

config DTB_ADDR
	hex "Default OS device tree blob address"
	default 0x83000000

config RAMDISK_ADDR
	hex "Default ramdisk address to be used by the OS"
	default 0x90000000

endif
